html {
    box-sizing: border-box;
  }

  
  *, ::before, ::after {
    box-sizing: inherit;
  }

body {
    text-align: center;
    background-color: #f4d0d0;
    font-family: 'Barlow Condensed', sans-serif;
    color: black;
    font-weight: 300;
    margin-top: 0px;
}

.title {
    font-size: max(2rem, 6vw);
    font-weight: 200;
    margin-block: 1vh;
}

h2 {
    font-size: max(1rem, 2vw);
    font-weight: 500;
}

p {
    font-size: max(1rem, 2vw);
    margin-top: 4vh;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    font-size: max(1rem, 2vw);
}

.italic {
    font-style: italic;
}
.location {
    text-transform: uppercase;
}
.navigation {
    position:fixed;
    background-color: #f4d0d0;
    width: 100%;

    padding-block: 1em;
    display: grid;
    grid-template-columns: repeat(5, auto);
    
    justify-content: center;
}

.navigation__item {
    padding: 0.5em;
    font-size: max(0.8rem, 2vw);
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    border-radius: 15px;
    align-self: center;
}

.link-block:hover {
    background-color: #f6dbdb;
    border: 1px solid #e4b3b3;
    
}

.wrap {
    
    
    align-content: center;
    min-height: 100dvh;
    padding: 10vh 1.5vw 3vh;
    border-bottom: 1px solid #e4b3b3;
}


.section-part {
    margin-bottom: 4em;
}

.highlight {
    color: #be48a7;
    text-decoration: none;
}

.highlight-cite {
    
    font-style: italic;
}

.bold {
    font-weight: 500;
}



/* hero-logo */
.hero-logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    align-items: center;
    justify-items: center;
    gap: 2vw;
    margin-top: 4vh;
}

.hero-logo img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.hero-logo__code {
    width: max(120px,15vw);
    height: max(120px,15vw);
}

.hero-logo__logo {
    width: max(200px,20vw);
    height: max(200px,20vw);
    grid-row: 1;
    grid-column: 1/span2;
}



/* kontakty */
.contact__grid {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    margin-top: 4vh;
    align-items: center;
}

.card {
    max-width: 400px;
    text-decoration: none;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-radius: 15px;
    border: 1px solid #e4b3b3;
    color: black;
    justify-self: center;

}

.card-reverse {
    flex-direction: row-reverse;
}
.card__pic {
    flex: 0 1 45%;
 }

.card__pic img{
    width: min(100%, 250px);
    border-radius: 50%;
    border: 1px solid #e4b3b3;
 }

.link__text {
    font-size: max(1.2rem, 2.5vw);
    color: black;
}


.social-media {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1em;
    padding-block: 5vh;
}


.icon {
    width: max(10px, 5vw);
    justify-self: center;
    flex-grow: 0;
    display: block;
}



@media screen and (min-width: 600px) {
    .hero-logo {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero-logo__logo {
        grid-row: auto;
        grid-column: auto;
    }

    .wrap {
        padding-inline: 10vw;
    }


    .contact__grid {
        flex-direction: row;
        justify-content: center;
    }

    .card {
        flex-direction: column;
        max-width: 300px;
    }
}




.hover-highlight:hover {
    border-radius: 15px;
    box-shadow: 2px 2px 5px #e4b3b3;
    background-color: #f6dbdb;
    color: #723333;    
}

.navigation__item:hover {
    border: 1px solid #e4b3b3;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #e4b3b3;
    background-color: #f6dbdb;
    color: #723333;    
    
}





.link-inline {
    color: black;
}


/* .link__text:hover{
    color: #723333;
} */
.link-inline:hover {
    /* text-decoration: underline; */
    color: #723333;
    /* font-size: 0.9em;
    padding-inline: 0.221em; */
}
.link-mail {
    display: block;
    padding: 1rem
}


.hero-logo__code img:hover {
    border: 1px solid #e4b3b3;
}